@{
    ViewBag.Title = "Página Principal";
}
<br />
<div class="jumbotron">
    <h1>Bienvenido @ViewBag.Usuario</h1>
    <p class="lead">Dentro del sistema de Seguros, podrá realizar registros de nuevas pólizas, así como asignar o eliminar pólizas a clientes del Sistema.</p>
</div>
<img src="/Content/images/inicio.jpg" class="img-rounded center-block" alt="Sistema Seguros">
 
